export APP_ENV="dev"
export PYTHONPATH="$PYTHONPATH:/home/pyux/PycharmProjects/pylocker/app/core/database_schema.py:/home/pyux/PycharmProjects/pylocker/app"
export PYTHONUNBUFFERED=True
export api_title="pylocker"
export api_description="File storing service"
export api_version="0.0.1"
export api_swagger_url="/"
export api_redoc_url="/docs"
export postgres_dsn="postgresql://postgres:postgres@0.0.0.0:5432/pylocker_db"
